@import "modules/_mixin.scss";
@import "modules/_fonts.scss";

html {
  font-family: 'open sans regular';
}

.topBar {
  background-color: rgb(45, 232, 223);
  width: 100%;
  height: 10px;
}

menu {
  //line-height: 120px;    -- za bardzo "obniża" poziom tekstu
  display: flex;
  height: 120px;
  margin: 30px auto;
  width: 940px;
  justify-content: space-between;
  span {
    height: 42px;
    margin-top: 52px;
    &:hover {
      border-bottom: 1px solid rgb(45, 232, 223);
      border-spacing: 50px;
      color: rgb(229, 229, 229);
      cursor: pointer;
    }
  }
  .closerLeft {
    margin-left: 93px;
  }
  .closerRight {
    margin-right: 93px;
  }
}

.hero {
  border-top: 1px solid rgb(235, 235, 235);
  font-family: 'bree_serifregular';
  text-align: center;
  height: 280px;
  font-size: 82px;
  color: rgb(34, 34, 34);
  padding-top: 41px;
  .button {
    font-family: 'open sans regular';
    line-height: 65px;
    font-size: 20px;
    color: rgb(33, 179, 172);
    font-weight: lighter;  // próbowałem wszystkiego (np font-weight: 100;), ale font dalej jest za gruby.  
    text-shadow: 0.707px 0.707px 0px rgb(73, 247, 239);
    height: 70px;
    width: 300px;
    margin: 55px auto;
    border-radius: 7px;
    background-image: -moz-linear-gradient( 90deg, rgb(45,232,223) 0%, rgb(43,242,232) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(45,232,223) 0%, rgb(43,242,232) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(45,232,223) 0%, rgb(43,242,232) 100%);
    box-shadow: inset 0px -5px 0px 0px rgba(33, 179, 172, 0.8);
    &:hover {
      line-height: 70px;
      text-shadow: 0;
      box-shadow: inset 0px 1px 5px 0px rgba(31, 132, 127, 0.8);
      background-image: -moz-linear-gradient( 90deg, rgb(35,222,213) 0%, rgb(43,242,232) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(35,222,213) 0%, rgb(43,242,232) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(35,222,213) 0%, rgb(43,242,232) 100%);
      cursor: pointer;
    }
  }
}

.content {
  margin-top: 70px;
  height: 408px;
  border-top: 1px solid rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  div {
    padding-top: 21px;
    width: 300px;
    height: 100%;
    margin-right: 20px;
    h1 {
      font-family: 'bree_serifregular';
      font-size: 38px;
      color: rgb(238, 138, 85);
      margin-bottom: 25px;
    }
    .square {
      filter: grayscale(100%);
      background: url(../images/miniature.png);
      display: inline-block;
      border: 1px solid white;
      outline: 1px solid black;
      background-position:center;
      background-size: contain;
      width: 78px;
      height: 78px;
      margin-right: 15.5px;
      margin-bottom: 13px;
    }
    p {
      display: inline-block;
      font-size: 14px;
      text-align: justify;
      line-height: 21px;
      word-spacing: 1px;
      word-break: break-all;
      hyphens: auto; // nie działa. Nie dodaje "-" kiedy tekst się nie mieści, nie mam zielonego pojęcia jak to zrobić inaczej.
    }
    .inlineParagraph {
      vertical-align: top; //dając .square vertical-align:top;, a paragrafowi dając vertical-align:text-top; nie udało mi się rozwiązać problemu z niewyrównanym do górnej krawędzi tekstem.
      width: 200px;
      word-spacing: normal;
      word-break: normal;
    }
    .more {
      text-align: right;
      height: auto;
      font-size: 14px;
      color: rgb(189, 189, 189);
      &.lower {
        margin-top: 10px;
      }
      span {
        letter-spacing: -2px;
      }
      &:hover {
        color: rgb(45, 232, 223);
        cursor: pointer;
      }
    }   
  }
}

.contact {
  height: 380px;
  margin-top: 34px;
  border: 1px solid red;
  border-top: 1px solid rgb(235, 235, 235);
  padding-top: 15px;
  font-size: 60px;
  text-align: center;
  color: rgb(45, 232, 223);
  font-family: 'bree_serifregular';
  form {
    display: flex;
    width: 940px;
    height: 170px;
    margin: 34px auto;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    font-family: "Open Sans";
    fieldset {
      width: 460px;
      display: flex;
    }
    input {
      margin-right: 15px;
      padding-left: 21px;
      height: 50px;
      width: 460px;
      display: flex;
      border-radius: 7px;
      border: 1px solid rgb(220, 220, 220);
      background-color: rgb(249, 249, 249);
      box-shadow: inset 1.414px 1.414px 5px 0px rgba(213, 213, 213, 0.9);
      &::-webkit-input-placeholder {
        font-family: "Open Sans";
        color: rgb(209, 209, 209);
      }
    }
    textarea {
      border-radius: 7px;
      display: flex;
      padding-left: 21px;
      padding-top: 13px;
      height: 170px;
      width: 460px;
      border: 1px solid rgb(220, 220, 220);
      background-color: rgb(249, 249, 249);
      box-shadow: inset 1.414px 1.414px 5px 0px rgba(213, 213, 213, 0.9);
      resize: none;
      &::-webkit-input-placeholder {
        font-family: "Open Sans";
        color: rgb(209, 209, 209);
      }
    }
  }
}

//

























